{% extends 'base.html.twig' %}


{% block title %}Episode #{{ program.id }}
{% endblock %}


{% block body %}
	<div class="media ms-4">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<h2>Saison:
				{{ season.id }}</h2>
			<h2>Episode
				{{ episode.id }}</h2>
			<h2>Titre de l'épisode:
				{{ episode.title }}</h2>
            <h2>Synopsis:</h2>
            <p>{{ episode.synopsis }}</p>
		</div>
		<div>
			<a href="{{ path('program_show_season', { programId: program.id, seasonId: season.id }) }}">
				Retour vers
				{{ program.title }} avec la liste des épisodes.
			</a>
		</div>
	</div>
{% endblock %}
