{% extends 'base.html.twig' %}

	{% block body %}
		<h1 class="ms-4">Toutes les séries de la table program :
		</h1>
		{% for program in programs %}
			<div class="ms-4">
				<h2>{{ loop.index }}
					/
					{{ program.title }}
					- Catégorie :
					{{ program.category.name }}</h2>
				<p>{{ program.synopsis }}</p>
				<p>{{ program.country }}</p>
				<p>{{ program.year }}</p>
				<a href="{{ path('program_show', { program program.id }) }}">Voir la fiche</a>
			</div>
		{% else %}
			Aucune série trouvée.
			<a href="{{ path('category_index') }}">
				Retour vers les catégories
			</a>
		{% endfor %}
		<div>
		<a href="{{ path('program_new') }}">Ajouter une série</a>
		</div>
{% endblock %}
