{% extends 'base.html.twig' %}


{% block title %}Saisons #{{ program.id }}
{% endblock %}


{% block body %}
	<div class="media ms-4">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<h2>Saison: {{ season.id }}</h2>
				
					<li><a href="{{ path('program_season_show') }}">{{ season.number }}</a></li>
				{% endfor %}
		</div>
        <a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
	</div>
	
{% endblock %}