{% extends 'base.html.twig' %}


{% block title %}Série #{{ program.id }}
{% endblock %}


{% block body %}
	<div class="media ms-4">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>{{ program.country }}</p>
			<p>{{ program.year }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<h2>Nombre de saison :</h2>
			<ul>
				{% for season in seasons %}
					<li>
						{{ season.number }}</li>
				{% endfor %}
			</ul>
		</div>
        <a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
	</div>
	
{% endblock %}
