{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ actor.name }}</h1>
    <h2>Ses séries:</h2>
    <ul>
    {% for program in programs %}
    <a href=""><li>{{ program.title }}</li></a>
    <li>{{ program.synopsis }}</li>
    <li>{{ program.country }}</li>
    <li>{{ program.year }}</li></br>
    {% endfor %}
</ul>
<button class="btn btn-button"><a href="{{ path('program_index') }}"></a></button>
{% endblock %}